@charset "UTF-8";
/* Principal theme header / button / footer */
/*Card 1*/
/*Card 2*/
/*Card 3*/
/*Card 4*/
/* Font of the menu */
/* Font size for 'menu' of cards (index.html)*/
/* Font size of the main title of all menu (other pages) */
/* Intensity for the wiggle animation */
/* Points appearing animation for 'Prochainement' button */
/* General data for all menu titles animations*/
/* For card 2 title underline animation */
/* Size for height of triangles */
/* Width of long triangle */
/* width of short triangle */
/* Principal theme font */
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}
/* Menu font */
@font-face {
  font-family: handlee;
  src: url(../fonts/Handlee-Regular.ttf);
}
/*Title of card 1 font*/
@font-face {
  font-family: courgette;
  src: url(../fonts/Courgette-Regular.ttf);
}
/*Title of card 2 font*/
@font-face {
  font-family: abrilFatface;
  src: url(../fonts/AbrilFatface-Regular.ttf);
}
/*Title of card 3 font*/
@font-face {
  font-family: parisienne;
  src: url(../fonts/Parisienne-Regular.ttf);
}
/*Title of card 4 font*/
@font-face {
  font-family: kaushan;
  src: url(../fonts/KaushanScript-Regular.ttf);
}
/* Theme for header and footer */
/* Properties of the layout of the dishes */
/* General properties for triangles for underline animation of card 2 */
/* Other properties of triangles */
body {
  margin: 0;
}

#page {
  margin: auto;
  max-width: 960px;
}

/* div for layout, display flex */
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 20px;
}
.container--display-spaceB {
  justify-content: space-between;
}
.container--align-center {
  align-items: center;
}
.container--display-normal {
  justify-content: start;
}
.container div {
  margin: 0.5em;
}
.container--inverted {
  transform: scaleX(-1);
}

h1 {
  margin-top: 0;
  padding: 0.5em;
}

header {
  text-align: center;
  background-color: #579C87;
  color: RGB(253, 203, 70);
  font-family: montserrat, Arial, sans-serif;
}
header a {
  color: RGB(253, 203, 70);
  text-decoration: none;
}

footer {
  background-color: #579C87;
  color: RGB(253, 203, 70);
  font-family: montserrat, Arial, sans-serif;
  height: auto;
  position: sticky;
  bottom: 0;
}
footer a {
  color: RGB(253, 203, 70);
  text-decoration: none;
}
footer .container {
  height: auto;
  padding: 1em;
  margin-bottom: 0;
}
footer a {
  font-size: 1.2rem;
  color: RGB(253, 203, 70);
  text-decoration: none;
}

/* BEM blocks for all the menu of all cards */
.menu {
  width: 80%;
  margin: auto;
  padding: 0.5em;
  text-align: center;
  box-shadow: 1px 1px 5px #c2c2c2;
}
.menu--card1 {
  color: #3D1319;
  background-color: RGB(252, 223, 219);
  font-family: handlee, arial, sans-serif;
  font-weight: bold;
}
.menu--card2 {
  background-color: RGB(255, 245, 254);
  /* For the title of the entrée part */
}
.menu--card2__entree {
  color: #C67412;
  /* For the layout of the entrée dishes */
}
.menu--card2__entree--layout {
  margin: auto;
  width: 80%;
  color: #C67412;
}
@media (max-width: 960px) {
  .menu--card2__entree--layout {
    width: 100%;
  }
}
.menu--card2__plat {
  color: #A56799;
}
.menu--card2__plat--layout {
  margin: auto;
  width: 80%;
  color: #A56799;
}
@media (max-width: 960px) {
  .menu--card2__plat--layout {
    width: 100%;
  }
}
.menu--card2__dessert {
  color: #6E4CCC;
}
.menu--card2__dessert--layout {
  margin: auto;
  width: 80%;
  color: #6E4CCC;
}
@media (max-width: 960px) {
  .menu--card2__dessert--layout {
    width: 100%;
  }
}
.menu--card3 {
  background-color: RGB(237, 239, 239);
  font-weight: bold;
  font-family: handlee, arial, sans-serif;
}
.menu--card3__entree {
  margin: auto;
  width: 80%;
}
@media (max-width: 960px) {
  .menu--card3__entree {
    width: 100%;
  }
}
.menu--card4 {
  background-color: RGB(253, 253, 253);
  font-family: handlee, arial, sans-serif;
  font-weight: bold;
}
.menu--card4__entree {
  margin: auto;
  width: 80%;
}
@media (max-width: 960px) {
  .menu--card4__entree {
    width: 100%;
  }
}

.card-title {
  text-align: center;
  color: RGB(53, 53, 53);
  font-family: montserrat, sans-serif;
  /* For card 1 */
}
.card-title--1 {
  /* gradient color for the icon */
  background: linear-gradient(135deg, #EF465F 35%, #F6916A 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Properties for the title of the card and menu */
  /* Properties for the 'menu' word in the card1 (index.html)*/
}
.card-title--1__title {
  color: #3D1319;
  font-family: courgette, arial, sans-serif;
  font-size: 1.3rem;
  /* Properties for the main title of the menu */
  /* Properties for the second title of the menu (only in card 1)*/
}
.card-title--1__title--main {
  font-size: 3em;
}
.card-title--1__title--second {
  font-size: 1.3rem;
}
.card-title--1__menu {
  font-size: 1.3rem;
  color: #3D1319;
  font-family: handlee, arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}
.card-title--2 {
  background: linear-gradient(150deg, #C67412 35%, #6E4CCC 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: abrilFatface, arial, sans-serif;
  font-weight: normal;
}
.card-title--2--main {
  font-size: 3em;
}
.card-title--2__menu {
  font-size: 1.3rem;
  font-weight: bold;
  color: #C67412;
}
.card-title--3 {
  background: linear-gradient(150deg, #0228DD 35%, #229DF9 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: parisienne, arial, sans-serif;
  font-size: 1.3rem;
}
.card-title--3--main {
  font-size: 3em;
}
.card-title--3__menu {
  font-size: 1.3rem;
  color: #229DF9;
  font-family: handlee, arial, sans-serif;
  font-weight: bold;
}
.card-title--4 {
  background: linear-gradient(150deg, #41963C 35%, #B8FA7C 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: kaushan, arial, sans-serif;
}
.card-title--4--main {
  font-size: 3em;
}
.card-title--4__menu {
  font-size: 1.3rem;
  color: #41963C;
  font-family: handlee, arial, sans-serif;
  font-weight: bold;
}

/* Properties of the button */
.btn {
  background-color: #579C87;
  color: RGB(253, 203, 70);
  font-family: montserrat, Arial, sans-serif;
  display: inline-block;
  width: 55%;
  white-space: nowrap;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  /* Discussion points animation when btn prochainement hover */
}
.btn a {
  color: RGB(253, 203, 70);
  text-decoration: none;
}
.btn:hover .point {
  animation: points-appearing 1000ms backwards infinite alternate;
}
.btn:hover .point--1 {
  animation-delay: 0ms;
}
.btn:hover .point--2 {
  animation-delay: 333.3333333333ms;
}
.btn:hover .point--3 {
  animation-delay: 666.6666666667ms;
}

/* Properties of the points */
.point {
  height: 100px;
  opacity: 0;
}

/* Animation for 'Prochainement button' with points */
@keyframes points-appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Wiggle animation for footer's buttons */
.wiggle:hover {
  animation: wiggle 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3;
}

@keyframes wiggle {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
/* Properties for all prices of menus */
.price {
  font-weight: bold;
}

/* Only in index.html*/
#cards {
  margin: auto;
  /* Media query for responsive display of cards */
}
#cards a {
  text-decoration: none;
  color: black;
}
#cards .container {
  /* Small and smaller */
}
@media (max-width: 575.98px) {
  #cards .container {
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }
}

.card {
  margin: 15px;
  box-shadow: 1px 1px 5px #c2c2c2;
  height: 350px;
  width: 250px;
  text-align: center;
  /* For animation*/
  overflow: hidden;
}
.card--card1 {
  background-color: RGB(252, 223, 219);
}
.card--card2 {
  background-color: RGB(255, 245, 254);
}
.card--card3 {
  background-color: RGB(237, 239, 239);
}
.card--card4 {
  background-color: RGB(253, 253, 253);
}
.card:hover .card-contenu {
  animation: zoom-card forwards 0.3s;
}

/* Animation for cards */
@keyframes zoom-card {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0.6;
  }
}
/* Properties of the title of the dishes */
.menu-title {
  white-space: nowrap;
  font-size: 1.3rem;
}

/* Properties of the underline */
.line-p1 {
  background-color: RGB(53, 53, 53);
  align-items: center;
  display: inline-block;
  height: 5px;
  width: 0%;
  border-radius: 2px;
  transition: all 0.4s 0s cubic-bezier(0.4, 0.1, 0.6, 0.9);
}

/* For the animation */
.menu-title-line-p1 {
  align-items: center;
}
.menu-title-line-p1:hover > .line-p1 {
  width: 100%;
}

/* Properties of the underline */
.line-p2-anim {
  opacity: 0;
  transition: all 0.4s 0s cubic-bezier(0.4, 0.1, 0.6, 0.9);
  width: 100%;
}

.line-p2 {
  margin: 0 !important;
  width: 0;
  height: 0;
}
.line-p2--start-long {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 15em solid #C67412;
  border-left: 0 solid #C67412;
}
.line-p2--start-short {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 0 solid #C67412;
  border-left: 2em solid #C67412;
}
.line-p2--middle-long {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 15em solid #A56799;
  border-left: 0 solid #A56799;
}
.line-p2--middle-short {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 0 solid #A56799;
  border-left: 2em solid #A56799;
}
.line-p2--end-long {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 15em solid #6E4CCC;
  border-left: 0 solid #6E4CCC;
}
.line-p2--end-short {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 0 solid #6E4CCC;
  border-left: 2em solid #6E4CCC;
}
@media (max-width: 960px) {
  .line-p2 {
    display: none;
  }
}

/* For the animation */
.menu-title-line-p2 {
  align-items: center;
}
.menu-title-line-p2:hover > .line-p2-anim {
  opacity: 1;
}

/* Properties of the underline */
.line-p3 {
  position: relative;
  bottom: 5px;
  display: inline-block;
  transition: all 0.4s 0s cubic-bezier(0.4, 0.1, 0.6, 0.9);
  width: 0%;
  height: 10px;
}
.line-p3--start {
  border-bottom: 4px solid #0228DD;
  border-radius: 0 0 0 10px;
}
.line-p3--start--inverted {
  transform: scaleX(-1);
}
.line-p3--middle {
  border-bottom: 4px solid #0670F3;
  border-radius: 0 0 0 10px;
}
.line-p3--middle--inverted {
  transform: scaleX(-1);
}
.line-p3--end {
  border-bottom: 4px solid #229DF9;
  border-radius: 0 0 0 10px;
}
.line-p3--end--inverted {
  transform: scaleX(-1);
}

/* For the animation */
.menu-title-line-p3:hover > .line-p3 {
  width: 100%;
}

/* Properties of the underline */
.line-p4 {
  overflow: hidden;
  width: 100%;
  display: inline-block;
  transition: all 0.4s 0s cubic-bezier(0.4, 0.1, 0.6, 0.9);
}
.line-p4--left {
  transform: scaleX(0);
  transform-origin: left;
}
.line-p4--right {
  transform: scaleX(0);
  transform-origin: right;
}

/* For the animation */
.menu-title-line-p4 {
  align-items: center;
}
.menu-title-line-p4:hover > .line-p4 {
  transform: scaleX(1);
}

/*# sourceMappingURL=style.css.map */
