/*Card 1*/
/* Menu font */
@font-face {
  font-family: handlee;
  src: url(../fonts/Handlee-Regular.ttf);
}
/*Title of card 1 font*/
@font-face {
  font-family: shadowsIntoLight;
  src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}
/*Card 2*/
/*Title of card 1 font*/
@font-face {
  font-family: abrilFatface;
  src: url(../fonts/AbrilFatface-Regular.ttf);
}
/*Card 3*/
@font-face {
  font-family: parisienne;
  src: url(../fonts/Parisienne-Regular.ttf);
}
@font-face {
  font-family: caveat;
  src: url(../fonts/Caveat-Regular.ttf);
}
/*Card 4*/
@font-face {
  font-family: kaushan;
  src: url(../fonts/KaushanScript-Regular.ttf);
}
/* Font size for 'menu' of cards */
body {
  margin: 0;
}

#page {
  margin: auto;
  max-width: 960px;
}

header {
  text-align: center;
  background-color: #579C87;
  color: RGB(253, 203, 70);
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
  font-family: "Montserrat", sans-serif;
}
header a {
  color: RGB(253, 203, 70);
  text-decoration: none;
}

h1 {
  margin-top: 0;
  padding: 0.5em;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: top;
  text-align: left;
  margin: 20px;
}
.container--display-spaceB {
  justify-content: space-between;
}
.container--align-center {
  align-items: center;
}
.container--display-normal {
  justify-content: start;
}
.container div {
  margin: 0.5em;
}
.container--inverted {
  transform: scaleX(-1);
}

#cards {
  margin: auto;
}
#cards a {
  text-decoration: none;
  color: black;
}

.card {
  margin: 15px;
  box-shadow: 1px 1px 5px #c2c2c2;
  height: 350px;
  width: 250px;
  text-align: center;
  /* For animation*/
  overflow: hidden;
}
.card--card1 {
  background-color: RGB(252, 223, 219);
}
.card--card2 {
  background-color: RGB(255, 245, 254);
}
.card--card3 {
  background-color: RGB(237, 239, 239);
}
.card--card4 {
  background-color: RGB(253, 253, 253);
}
.card:hover .card-contenu {
  animation: zoom-card forwards 0.3s;
}

footer {
  background-color: #579C87;
  color: RGB(253, 203, 70);
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
  font-family: "Montserrat", sans-serif;
  height: auto;
  position: sticky;
  bottom: 0;
}
footer a {
  color: RGB(253, 203, 70);
  text-decoration: none;
}
footer .container {
  height: auto;
  padding: 1em;
  margin-bottom: 0;
}
footer a {
  font-size: 1.2rem;
  color: RGB(253, 203, 70);
  text-decoration: none;
}

.btn {
  background-color: #579C87;
  color: RGB(253, 203, 70);
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: 60%;
  white-space: nowrap;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}
.btn a {
  color: RGB(253, 203, 70);
  text-decoration: none;
}

.menu {
  width: 80%;
  margin: auto;
  padding: 0.5em;
  text-align: center;
  box-shadow: 1px 1px 5px #c2c2c2;
}
.menu--card1 {
  color: #3D1319;
  background-color: RGB(252, 223, 219);
  font-family: handlee, arial, sans-serif;
}
.menu--card2 {
  background-color: RGB(255, 245, 254);
}
.menu--card2__entree {
  color: #C67412;
}
.menu--card2__entree--layout {
  margin: auto;
  width: 80%;
  color: #C67412;
}
.menu--card2__plat {
  color: #A56799;
}
.menu--card2__plat--layout {
  margin: auto;
  width: 80%;
  color: #A56799;
}
.menu--card2__dessert {
  color: #6E4CCC;
}
.menu--card2__dessert--layout {
  margin: auto;
  width: 80%;
  color: #6E4CCC;
}
.menu--card3 {
  background-color: RGB(237, 239, 239);
  font-family: handlee, arial, sans-serif;
}
.menu--card3__entree {
  margin: auto;
  width: 80%;
}
.menu--card4 {
  background-color: RGB(253, 253, 253);
  font-family: handlee, arial, sans-serif;
}
.menu--card4__entree {
  margin: auto;
  width: 80%;
}

.card-title {
  text-align: center;
  color: RGB(53, 53, 53);
}
.card-title--1 {
  background: linear-gradient(135deg, #EF465F 0% 35%, #F6916A 65% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-title--1__title {
  color: #3D1319;
  font-family: shadowsIntoLight, arial, sans-serif;
  font-size: 1.5rem;
}
.card-title--1__title--main {
  font-size: 3em;
}
.card-title--1__title--second {
  font-size: 1.2em;
}
.card-title--1__menu {
  font-size: 1.5rem;
  color: #3D1319;
  font-family: handlee, arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.card-title--2 {
  background: linear-gradient(150deg, #C67412 0% 35%, #6E4CCC 65% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: abrilFatface, arial, sans-serif;
  font-weight: normal;
}
.card-title--2--main {
  font-size: 3em;
}
.card-title--2__menu {
  font-size: 1.5rem;
  font-weight: bold;
  color: #C67412;
}
.card-title--3 {
  background: linear-gradient(150deg, #0228DD 0% 35%, #229DF9 65% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: parisienne, arial, sans-serif;
  font-size: 1.5rem;
}
.card-title--3--main {
  font-size: 3em;
}
.card-title--3__menu {
  font-size: 1.5rem;
  color: #229DF9;
  font-family: handlee, arial, sans-serif;
  font-weight: bold;
}
.card-title--4 {
  background: linear-gradient(150deg, #41963C 0% 35%, #B8FA7C 65% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: kaushan, arial, sans-serif;
}
.card-title--4--main {
  font-size: 3em;
}
.card-title--4__menu {
  font-size: 1.5rem;
  color: #41963C;
  font-family: handlee, arial, sans-serif;
  font-weight: bold;
}

.price {
  font-weight: bold;
}

/* Wiggle animation for footer's buttons */
.wiggle:hover {
  animation: wiggle 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3;
}

@keyframes wiggle {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
/* Points appearing animation for 'Prochainement' button */
.btn:hover .point {
  animation: points-appearing 1000ms backwards infinite alternate;
}
.btn:hover .point--1 {
  animation-delay: 0ms;
}
.btn:hover .point--2 {
  animation-delay: 333.3333333333ms;
}
.btn:hover .point--3 {
  animation-delay: 666.6666666667ms;
}

.point {
  height: 100px;
  opacity: 0;
}

/* Animation for 'Prochainement button' with points */
@keyframes points-appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animation for cards */
@keyframes zoom-card {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0.6;
  }
}
/* Animation for menu title */
/* For card 2 underline animation */
/* Properties of underlines */
.line-p1 {
  background-color: RGB(53, 53, 53);
  align-items: center;
  display: inline-block;
  height: 5px;
  width: 0%;
  border-radius: 2px;
  transition: all 0.4s 0s cubic-bezier(0.4, 0.1, 0.6, 0.9);
}

.line-p2-anim {
  opacity: 0;
  transition: all 0.4s 0s cubic-bezier(0.4, 0.1, 0.6, 0.9);
}

.line-p2 {
  margin: 0 !important;
  width: 0;
  height: 0;
}
.line-p2--start-long {
  border-top: 0.3vw solid transparent;
  border-bottom: 0.3vw solid transparent;
  border-right: 20vw solid #C67412;
  border-left: 0 solid #C67412;
}
.line-p2--start-short {
  border-top: 0.3vw solid transparent;
  border-bottom: 0.3vw solid transparent;
  border-right: 0vw solid #C67412;
  border-left: 2vw solid #C67412;
}
.line-p2--middle-long {
  border-top: 0.3vw solid transparent;
  border-bottom: 0.3vw solid transparent;
  border-right: 20vw solid #A56799;
  border-left: 0 solid #A56799;
}
.line-p2--middle-short {
  border-top: 0.3vw solid transparent;
  border-bottom: 0.3vw solid transparent;
  border-right: 0vw solid #A56799;
  border-left: 2vw solid #A56799;
}
.line-p2--end-long {
  border-top: 0.3vw solid transparent;
  border-bottom: 0.3vw solid transparent;
  border-right: 20vw solid #6E4CCC;
  border-left: 0 solid #6E4CCC;
}
.line-p2--end-short {
  border-top: 0.3vw solid transparent;
  border-bottom: 0.3vw solid transparent;
  border-right: 0vw solid #6E4CCC;
  border-left: 2vw solid #6E4CCC;
}

.line-p3 {
  position: relative;
  bottom: 22px;
  display: inline-block;
  transition: all 0.4s 0s cubic-bezier(0.4, 0.1, 0.6, 0.9);
  width: 0%;
}
.line-p3--start {
  border-bottom: 4px solid #0228DD;
  border-radius: 0 0 0 10px;
}
.line-p3--start--inverted {
  transform: scaleX(-1);
}
.line-p3--middle {
  border-bottom: 4px solid #0670F3;
  border-radius: 0 0 0 10px;
}
.line-p3--middle--inverted {
  transform: scaleX(-1);
}
.line-p3--end {
  border-bottom: 4px solid #229DF9;
  border-radius: 0 0 0 10px;
}
.line-p3--end--inverted {
  transform: scaleX(-1);
}

.line-p4 {
  overflow: hidden;
  width: 100%;
  display: inline-block;
  transition: all 0.4s 0s cubic-bezier(0.4, 0.1, 0.6, 0.9);
}
.line-p4--left {
  transform: scaleX(0);
  transform-origin: left;
}
.line-p4--right {
  transform: scaleX(0);
  transform-origin: right;
}

.menu-title {
  white-space: nowrap;
}

.menu-title-line-p1 {
  align-items: center;
}
.menu-title-line-p1:hover > .line-p1 {
  width: 100%;
}

.menu-title-line-p2 {
  align-items: center;
}
.menu-title-line-p2:hover > .line-p2-anim {
  opacity: 1;
}

.menu-title-line-p3:hover > .line-p3 {
  width: 100%;
}

.menu-title-line-p4 {
  align-items: center;
}
.menu-title-line-p4:hover > .line-p4 {
  transform: scaleX(1);
}

/* Media queries */
/* Small and smaller */
@media (max-width: 575.98px) {
  #cards .container {
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
