body {
  margin: 0;
}

#page {
  margin: auto;
  max-width: 960px;
}

header {
  text-align: center;
  background-color: #579C87;
  color: RGB(253, 203, 70);
}
header a {
  color: RGB(253, 203, 70);
  text-decoration: none;
}

h1 {
  margin-top: 0;
  padding: 0.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.container--display-spaceB {
  justify-content: space-between;
}
.container--align-center {
  align-items: center;
}
.container--display-normal {
  justify-content: start;
}

#cards a {
  text-decoration: none;
  color: black;
}

.card {
  margin: 15px;
  box-shadow: 1px 1px 5px #c2c2c2;
  height: 300px;
  width: 200px;
  text-align: center;
  /* For animation*/
  overflow: hidden;
}
.card--card1 {
  background-color: RGB(252, 223, 219);
}
.card--card2 {
  background-color: RGB(255, 245, 254);
}
.card:hover .card-contenu {
  animation: zoom-card forwards 0.3s;
}

footer {
  background-color: #579C87;
  color: RGB(253, 203, 70);
  height: auto;
  position: sticky;
  bottom: 0;
}
footer a {
  color: RGB(253, 203, 70);
  text-decoration: none;
}
footer .container {
  height: auto;
  padding: 1em;
  margin-bottom: 0;
}
footer a {
  font-size: 1.2rem;
  color: RGB(253, 203, 70);
  text-decoration: none;
  font-weight: bold;
  padding: 0.8em;
}

.btn {
  background-color: #579C87;
  color: RGB(253, 203, 70);
  padding: 10px 100px 10px 100px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}
.btn a {
  color: RGB(253, 203, 70);
  text-decoration: none;
}

#menu {
  width: 80%;
  background-color: RGB(252, 223, 219);
  margin: auto;
  text-align: center;
  box-shadow: 1px 1px 5px #c2c2c2;
}

/* Wiggle animation for footer's buttons */
.wiggle:hover {
  animation: wiggle 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3;
}

@keyframes wiggle {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
/* Points appearing animation for 'Prochainement' button */
.btn:hover .point {
  animation: points-appearing 1000ms backwards infinite alternate;
}
.btn:hover .point--1 {
  animation-delay: 333.3333333333ms;
}
.btn:hover .point--2 {
  animation-delay: 666.6666666667ms;
}
.btn:hover .point--3 {
  animation-delay: 1000ms;
}

.point {
  height: 100px;
  opacity: 0;
}

/* Animation for 'Prochainement button' with points */
@keyframes points-appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animation for cards */
@keyframes zoom-card {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0.6;
  }
}
/* Animation for menu title */
/* Property of underlines */
.menu-title:before {
  content: "";
  width: 3em;
  border-bottom: rgba(226, 12, 12, 0.3) solid;
  vertical-align: middle;
  display: inline-block;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transform: scaleX(0);
  transform-origin: left;
}
.menu-title:after {
  content: "";
  width: 3em;
  border-bottom: rgba(226, 12, 12, 0.3) solid;
  vertical-align: middle;
  display: inline-block;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transform: scaleX(0);
  transform-origin: right;
}
.menu-title:hover:before {
  opacity: 1;
  transform: scaleX(1);
}
.menu-title:hover:after {
  opacity: 1;
  transform: scaleX(1);
}

/*# sourceMappingURL=style.css.map */
