$color-main1:#579C87;
$color-main-font:RGB(253,203,70);
$color-card1:RGB(252,223,219);
$color-card2:RGB(255,245,254);
$color-card3:RGB(237,239,239);
$color-card4:RGB(253,253,253);



@mixin principalTheme{
    background-color:$color-main1;
    color:$color-main-font;
    a{
        color:$color-main-font;
        text-decoration: none;
    }

}

body{
    margin:0;
}

#page{
    margin:auto;
    max-width: 960px;
}

header{
    text-align: center;
    @include principalTheme;
}

h1{
    margin-top:0;
    padding:.5em;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin:20px;
    &--display-spaceB{
        justify-content: space-between;
    }
    &--align-center{
        align-items: center;
    }
    &--display-normal{
        justify-content: start;
    }
}

#cards{
    & a{
        text-decoration: none;
        color:black;
    }
}

.card{
    margin:15px;
    box-shadow: 1px 1px 5px rgb(194, 194, 194);
    height: 300px;
    width:200px;
    text-align: center;

    &--card1{
        background-color: $color-card1;
    }
    &--card2{
        background-color: $color-card2;
    }
    &--card3{
        background-color: $color-card3;
    }
    &--card4{
        background-color: $color-card4;
    }
    /* For animation*/
    overflow: hidden;
    &:hover .card-contenu {
        animation:zoom-card forwards 0.3s ;
    }
}


footer{
    @include principalTheme;
    height: auto;
    position: sticky;
    bottom: 0;

    & .container{
        height:auto;
        padding:1em;
        margin-bottom:0;
    }
    & a{
        font-size: 1.2rem;
        color:$color-main-font;
        text-decoration: none;
        font-weight: bold;
        padding:0.8em;
    }

}

.btn{
    @include principalTheme;
    padding:10px 100px 10px 100px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

.menu{
    width: 80%;
    margin:auto;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(194, 194, 194);

    &--card1{
        background-color: $color-card1;
    }
    &--card2{
        background-color: $color-card2;
    }
    &--card3{
        background-color: $color-card3;
    }
    &--card4{
        background-color: $color-card4;
    }
}



/* Wiggle animation for footer's buttons */
$wiggle-intensity:1%;
.wiggle{
    &:hover{
        animation: wiggle 100ms cubic-bezier(.4,.1,.6,.9) 3;
    }
}

@keyframes wiggle {
    25% {
        // entièrement à droite
        transform: translateX($wiggle-intensity);
    }
    75% {
        // entièrement à gauche
        transform: translateX($wiggle-intensity * -1);
    }
} 


/* Points appearing animation for 'Prochainement' button */
$anim-dur:1000ms;
$num-points:3;
$point-appear-delay:$anim-dur / $num-points;

.btn{
    &:hover .point  {
        animation: points-appearing $anim-dur backwards infinite alternate;
        @for $i from 1 through $num-points {
            &--#{$i} {
                animation-delay:$point-appear-delay * $i;
            }
        }
    }
}

.point{
    height:100px;
    opacity:0;
    //font-weight: bold;
    }

/* Animation for 'Prochainement button' with points */
@keyframes points-appearing {
    0% {
        opacity: 0;
      }
    100% {
        opacity: 1;
      }
}

/* Animation for cards */

@keyframes zoom-card {
    from {
        transform:scale(1);
        opacity: 1;
    }
    to {
        transform:scale(1.1);
        opacity:0.6;
    }
}

/* Animation for menu title */
$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;

/* Property of underlines */
@mixin menu-title-line {
    content:'';
    width:3em;
    border-bottom:rgba(226, 12, 12, 0.3) solid;
    vertical-align:middle;
    display: inline-block;
    opacity: 0;
    transition: $thetransition;
    transform:scaleX(0);
}

.menu-title{
    &:before {
        @include menu-title-line;
        transform-origin:left;
    }
    &:after{
        @include menu-title-line;
        transform-origin:right;
    }
    &:hover{
        &:before{
            opacity: 1;
            transform:scaleX(1);
        }
        &:after{
            opacity: 1;
            transform:scaleX(1);
        }
    }
}

