$color-main1:#579C87;
$color-main-font:RGB(253,203,70);
$font-color-title-pages:RGB(53,53,53);

/*Card 1*/
$color-card1:RGB(252,223,219);
$text-color-card1:#3D1319;
$icon-color-start-card1:#EF465F;
$icon-color-end-card1:#F6916A;

/* Menu font */
@font-face {
    font-family: handlee;
    src: url(../fonts/Handlee-Regular.ttf);
}
/*Title of card 1 font*/
@font-face {
    font-family: shadowsIntoLight;
    src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}

/*Card 2*/
$color-card2:RGB(255,245,254);
$text-color-start-card2:#C67412;
$text-color-middle-card2:#A56799;
$text-color-end-card2:#6E4CCC;
/*Title of card 1 font*/
@font-face {
    font-family: abrilFatface;
    src: url(../fonts/AbrilFatface-Regular.ttf);
}

/*Card 3*/
$color-card3:RGB(237,239,239);
$text-color-start-card3:#0228DD;
$text-color-middle-card3:#0670F3;
$text-color-end-card3:#229DF9;

@font-face {
    font-family: parisienne;
    src: url(../fonts/Parisienne-Regular.ttf);
}
@font-face {
    font-family: caveat;
    src: url(../fonts/Caveat-Regular.ttf);
}


/*Card 4*/
$color-card4:RGB(253,253,253);
$text-color-start-card4: #3E923A;
$text-color-end-card4:#BEFF7F;

@font-face {
    font-family: kaushan;
    src: url(../fonts/KaushanScript-Regular.ttf);
}

/* Font size for 'menu' of cards */
$font-size-menu-cards:2.5rem;


@mixin principalTheme{
    background-color:$color-main1;
    color:$color-main-font;
    a{
        color:$color-main-font;
        text-decoration: none;
    }

}

body{
    margin:0;
}

#page{
    margin:auto;
    max-width: 960px;
}

header{
    text-align: center;
    @include principalTheme;
}

h1{
    margin-top:0;
    padding:.5em;
}


.container{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: top;
    text-align: left;
    margin:20px;
    &--display-spaceB{
        justify-content: space-between;
    }
    &--align-center{
        align-items: center;
    }
    &--display-normal{
        justify-content: start;
    }
    & div{
        margin:.5em;
    }
}

#cards{
    margin:auto;
    & a{
        text-decoration: none;
        color:black;
    }
}

.card{
    margin:15px;
    box-shadow: 1px 1px 5px rgb(194, 194, 194);
    height: 350px;
    width:250px;
    text-align: center;

    &--card1{
        background-color: $color-card1;
    }
    &--card2{
        background-color: $color-card2;
    }
    &--card3{
        background-color: $color-card3;
    }
    &--card4{
        background-color: $color-card4;
    }
    /* For animation*/
    overflow: hidden;
    &:hover .card-contenu {
        animation:zoom-card forwards 0.3s ;
    }
}


footer{
    @include principalTheme;
    height: auto;
    position: sticky;
    bottom: 0;

    & .container{
        height:auto;
        padding:1em;
        margin-bottom:0;
    }
    & a{
        font-size: 1.2rem;
        color:$color-main-font;
        text-decoration: none;
        font-weight: bold;
        padding:0.8em;
    }

}

.btn{
    @include principalTheme;
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
}
    

.menu{
    width: 80%;
    margin:auto;
    padding:0.5em;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(194, 194, 194);
    &--card1{
        color:$text-color-card1;
        background-color: $color-card1;
        font-family: handlee,arial,sans-serif;
    }
    &--card2{
        background-color: $color-card2;
        &__entree{
            color:$text-color-start-card2;
        }
        &__plat{
            color:$text-color-middle-card2;
        }
        &__dessert{
            color:$text-color-end-card2;
        }
    }
    &--card3{
        background-color: $color-card3;
        font-family: handlee,arial,sans-serif;
    }
    &--card4{
        background-color: $color-card4;
        font-family: handlee,arial,sans-serif;
    }
}

.card-title{
    text-align: center;
    color:$font-color-title-pages;
    &--1{
        background: linear-gradient(135deg, $icon-color-start-card1 0% 35%, $icon-color-end-card1 65% 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &__title{
            color:$text-color-card1;
            font-family: shadowsIntoLight,arial,sans-serif;
        }
        &__menu{
            font-size: $font-size-menu-cards;
            color:$text-color-card1;
            font-family: handlee,arial,sans-serif;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    &--2{
        background: linear-gradient(150deg, $text-color-start-card2 0% 35%, $text-color-end-card2 65% 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: abrilFatface,arial,sans-serif;
        font-weight: normal;
        &__menu{
            font-size: $font-size-menu-cards;
            font-weight: bold;
            color:$text-color-start-card2;
        }
    }
    &--3{
        background: linear-gradient(150deg, $text-color-start-card3 0% 35%, $text-color-end-card3 65% 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: parisienne,arial,sans-serif;
        &__menu{
            font-size: $font-size-menu-cards;
            color:$text-color-end-card3;
            font-family: handlee,arial,sans-serif;
            font-weight: bold;
        }
    }
    &--4{
        background: linear-gradient(150deg, $text-color-start-card4 0% 35%, $text-color-end-card4 65% 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: kaushan,arial,sans-serif;

        &__menu{
            font-size: $font-size-menu-cards;
            color:$text-color-start-card4;
            font-family: handlee,arial,sans-serif;
            font-weight: bold;
        }

    }

    
}

.price{
    font-weight: bold;
}

/* Wiggle animation for footer's buttons */
$wiggle-intensity:1%;
.wiggle{
    &:hover{
        animation: wiggle 100ms cubic-bezier(.4,.1,.6,.9) 3;
    }
}

@keyframes wiggle {
    25% {
        // entièrement à droite
        transform: translateX($wiggle-intensity);
    }
    75% {
        // entièrement à gauche
        transform: translateX($wiggle-intensity * -1);
    }
} 


/* Points appearing animation for 'Prochainement' button */
$anim-dur:1000ms;
$num-points:3;
$point-appear-delay:$anim-dur / $num-points;

.btn{
    &:hover .point  {
        animation: points-appearing $anim-dur backwards infinite alternate;
        @for $i from 1 through $num-points {
            &--#{$i} {
                animation-delay:$point-appear-delay * ($i - 1);
            }
        }
    }
}

.point{
    height:100px;
    opacity:0;
    //font-weight: bold;
    }

/* Animation for 'Prochainement button' with points */
@keyframes points-appearing {
    0% {
        opacity: 0;
      }
    100% {
        opacity: 1;
      }
}

/* Animation for cards */

@keyframes zoom-card {
    from {
        transform:scale(1);
        opacity: 1;
    }
    to {
        transform:scale(1.1);
        opacity:0.6;
    }
}

/* Animation for menu title */
$thetransition: width .5s 0s cubic-bezier(.4,.1,.6,.9);

/* Property of underlines */
.line{
    background-color: $font-color-title-pages;
    align-items: center;
    display: inline-block;
    height: 5px;
    width: 0%;
    transition: $thetransition;
}
.line-p3{
    position:relative;
    bottom:10px;
    display: inline-block;
    transition: $thetransition;
    width: 100%;
    // height: 25px;
    border-bottom: 4px solid $text-color-start-card3;
    border-radius:0 0 10px 0;
}

.menu-title-line-p1{
    align-items: center;
    &:hover > .line {
        width: 100%;
    }
}

.menu-title-line-p3{
    align-items: top;
    &:hover > .line-p3 {
        width: 100%;
    }
}

.menu-title{
    white-space: nowrap;
}




/* Media queries */

/* Small and smaller */
@media (max-width: 575.98px) {
    #cards .container{
        flex-direction: column;
        margin:auto;
        margin-bottom: 20px;
    }
    button{
        width: 80%;
    }
    
}