/* Principal theme font */
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

/* Menu font */
@font-face {
    font-family: handlee;
    src: url(../fonts/Handlee-Regular.ttf);
}

/*Title of card 1 font*/
@font-face {
    font-family: courgette;
    src: url(../fonts/Courgette-Regular.ttf);
}

/*Title of card 2 font*/
@font-face {
    font-family: abrilFatface;
    src: url(../fonts/AbrilFatface-Regular.ttf);
}

/*Title of card 3 font*/
@font-face {
    font-family: parisienne;
    src: url(../fonts/Parisienne-Regular.ttf);
}

/*Title of card 4 font*/
@font-face {
    font-family: kaushan;
    src: url(../fonts/KaushanScript-Regular.ttf);
}
